
@media screen and (max-width: 768px){
.navs{
    padding: 20px 30px;
} 
   .contact2 .container {
    margin-bottom: 20% !important;
}
    .pin-spacer {
        width: 2px !important; 
    }
    .video-box{
        margin-top: 35% !important;
    }
    .hero-text h1 {
        font-size: 1.7rem;
    }
    .hero-text p {
        width: 98%;
    }
    .about-section .row {
        margin-top: 100px;
    }
.about-section h1{
  font-size: 1.8rem;
}
    .about-section img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    } 
    .work-section2 .row {
        margin-top: 50px;
    }  
   .contact2 .container {
       margin-bottom: 50% !important;
   }    
    .contact-section h1, .work-section h1 {
      font-size: 1.8rem;
    }
}

@media screen and (max-width: 414px){
   .contact2 .container {
    margin-bottom: -20% !important;
} 
.hero-text{
    margin-top: 120% !important;
} 
.video-box{
    margin-top: 65% !important;
}
.about-section .row, .work-section .row, .work-section2 .row, .contact-section .row {
    margin-top: 20px !important;
}
.about-section{
    height: auto;
}
.about-section img {
    height: 300px !important;
    object-fit: cover;
}
.img1 img, .img2 img, .img3 img, .img4 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
}

@media screen and (device-width: 360px){
    .hero-text{
        margin-top: 150% !important;
    } 
    .video-box{
        margin-top: 105%;
    }
}

@media screen and (device-width: 320px){
    .hero-text{
        margin-top: 150% !important;
    }
    .video-box{
        margin-top: 100%;
    }
    .watch-btn{
        margin-top: -35px;
    }
}  


@media screen and (device-width: 375px){
    .hero-text{
        margin-top: 140% !important;
    }
    .video-box{
        margin-top: 100%;
    }
}

@media screen and (max-width: 800px){
    .hero-text{
        margin-top: 150% !important;
    }
    .pin-spacer{
        width: 2px !important;
    }
   }

@media screen and (max-width: 1440px) and (min-height: 900px){
    .hero-text{
        margin-top: 60%;  
    }
    .about-section .row, .work-section .row, .work-section2 .row, .contact-section .row {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 1928px){
    .about-section .row, .work-section .row, .work-section2 .row, .contact-section .row {
        margin-top: 12px;
    }
   }