

@media screen and (max-width: 768px){
.navs{
    padding: 20px 30px;
}
    .home-section{
        height: 100vh;
    }
    .video-col {
        bottom: 18%;
    }
   .box{
      display: none;
   }
   .contact2 .container {
    margin-bottom: 20% !important;
}
    .pin-spacer {
        width: 2px !important; 
        height: 0 !important;
    }
    .hero-text{
        top: 20%;
    } 
    .hero-text h1 {
        font-size: 1.4rem;
    }
    .hero-text p {
        width: 98%;
    }
    .about-section .row {
        margin-top: 100px;
    }
.about-section h1{
  font-size: 1.8rem;
}
    .about-section img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    } 
    .work-section2 .row {
        margin-top: 50px;
    }  
   .contact2 .container {
       margin-bottom: 50% !important;
   }    
    .contact-section h1, .work-section h1 {
      font-size: 1.8rem;
    }
}

@media screen and (max-width: 414px){
   .contact2 .container {
    margin-bottom: -20% !important;
} 
.video-col {
    bottom: -25%;
}
}
