@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
:root {
    --primarycolor: #504C47;
    --secondarycolor: #97918A;
    --btncolor: #403D39;
    --brown: #383531;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    position: relative;
    height: 100vh !important;
}
/***Preloader styles***/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: wheat;
    background-position: center;
    z-index: 99999;
    transition: transform 1.5s ease-in;
}
.preloader-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 40%;
    background-image: url('../Images/logoimg.png');
    background-repeat: no-repeat; 
    animation: preloader 5s infinite;
}
.preload-finish{
    pointer-events: none;
    transform: translateX(-100%);
}
  @keyframes preloader {
    0% {
      transform: translateX(0);
      animation-timing-function: steps(4, end);
    }
    50% {
        transform: translateX(-100px);
      animation-timing-function: steps(8, jump-both);
    }
    100% {
        transform: translateX(100px);
    }
  }
/****Main style starts here*****/

p {
    font-family: 'Laila', serif;
}
.wrapper{
    width: 600%;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
}
.navs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    position: fixed;
    padding: 30px 60px;
    z-index: 2;
}
.logo > a:hover {
    text-decoration: none;
}
.logo img{
    position: absolute;
    top: -95px;
}
.navigation{
    margin: 0;
    padding: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    list-style: none;
}
.navigation li{
    width: 10px;
    height: 10px;
    background-color: #4f5148fd;
    border: 2px solid #a1a1a1;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.navigation li:hover, .navigation li.selected {
    transform: scale(1.8);
    background-color: white;
}
/**=====** Home **====**/

.home-section{
    width: 100vw;
    height: auto;
}
.home-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-col{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #F5F6F8; 
}
.img-col img{
    max-width: 100%;
}
.video-container{
    position: fixed;
    width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8DDE2;
    visibility: hidden;
    opacity: 1;
}
.video-container.active{
    visibility: visible;
    opacity: 0;
}
video{
position: relative;
max-width: 100%;
outline: none;
}
.close{
    position: fixed;
    top: -50px;
    right: 20px;
    cursor: pointer;
    color: black;
}
#watch {
    background: none;
    border: none;
}
.hero-text{
    position: absolute;
    left: 0;
    margin-left: 4%;
    margin-top: 50%;
}
.hero-text h1{
    font-size: 2.3rem;
    width: 97%;
}
.hero-text p {
    width: 80%;
    margin: 15px 0;
}
.watch-btn{
   background-color: #f60;
   width: 60px;
   height: 60px;
   font-size: 2.4rem;
   margin-top: 50px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;
}
.fa-play{
    color: white;
    line-height: 100px;
    margin-left: 6px;
}
.watch-btn:before, .watch-btn:after{
    content: "";
    position: absolute;
    border: 2px solid #f60;
    border-radius: 50%;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
@keyframes animate {
0%{
    transform: scale(.5);
}
50%{
opacity: 1;
}
100%{
    transform: scale(1.5);
}
}
.watch-btn:after{
    animation-delay: 0.5s;
}

/***===***About***===***/
.about-section{
    padding: 60px 0;
    width: 100vw;
    height: auto;
}
.about-section h1 {
    color: var(--primarycolor);
}
.about-section h4 {
    color: var(--secondarycolor);
}
.about-section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.about-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

/***===Our work***===***/

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 50px;
}
.work-section h1{
    color: var(--brown);
}
.work-section{
    padding: 60px 0;
    width: 100vw;
    height: auto;
    background-color: #D8DDE2; 
}
.work-section ul {
    margin-left: 30px;
}
.work-section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.work-section .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.work-section2{
    padding: 60px 0;
    width: 100vw;
    height: auto;
    background-color: #F5F6F8;
}
.work-section2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/***===Contact section***===***/
.contact-section{
    background-color: var(--secondarycolor);
    padding: 60px 0;
    width: 100vw;
    height: auto;
    color: white;
}
.contact-section h1 {
    color: white;
}
.contact-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
form input {
    width: 100%;
    height: 100%;
    background-color: var(--secondarycolor);
    border-top: none;
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.493);
    border-left: none;
    color: white;
}
form input:focus{
    outline: none;
}
textarea {
    padding: 40px 10px;
    background-color:  var(--secondarycolor);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.493);
    color: white;
}
textarea:focus{
    outline: none;
}
.message{
    margin: 20px 0;
}
.btn{
    margin: 3px 0;
    padding: 5px;
    width: 120px;
    height: 38px;
    font-weight: bold;
    background: var(--btncolor);
    color: white;
    transition: all 0.2s ease-in;
}
.btn:hover{
    background-color: wheat;
    text-decoration: none;
}
/* social-media Contact section*/

section.contact2 {
    text-align: center;
    padding: 60px 0;
    width: 100vw;
    height: auto;
  }
  .contact2 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  section.contact2 h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
  section.contact2 ul.list-social {
    margin-bottom: 0;
  }
  section.contact2 ul.list-social li a {
    font-size: 40px;
    line-height: 80px;
    display: block;
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 100%;
  }
  
  section.contact2 ul.list-social li.social-twitter a {
    background-color: #1da1f2;
  }
  
  section.contact2 ul.list-social li.social-twitter a:hover {
    background-color: #0d95e8;
  }
  
  section.contact2 ul.list-social li.social-facebook a {
    background-color: #3b5998;
  }
  
  section.contact2 ul.list-social li.social-facebook a:hover {
    background-color: #344e86;
  }
  
  section.contact2 ul.list-social li.social-google-plus a {
    background-color: #dd4b39;
  }
  
  section.contact2 ul.list-social li.social-google-plus a:hover {
    background-color: #d73925;
  }
  